<section class="phx-hero">
    <my-counter
            id="counter-1" phx-hook="PhoenixCustomEvent" phx-custom-event-new_count="new_count"
            phx-custom-event-count_changed="count_changed">
    </my-counter>
</section>
